<section class="articles container">

    <h2 class="heading-secondary">The Value of Money</h2>

    <div class="article">

        <figure class="article-image-box">
            <img class="article-img" src="img/1.jpg" alt="">
            <figcaption class="img-caption">Money</figcaption>
        </figure>

        <div class="article-text-box">
            <p class="article-text">Money is the most important thing of material value in our lives, and as
                such, it became an integral part of our lives as well. It is a proven fact that money can buy
                you happiness, according the recent scientific studies. As a matter of fact, the more the person
                earns, the more satisfied and happier he/she is with his/her life. Even though many things do
                not have its price, in a manner of speech, you can pretty much buy everything you would like
                with money.
            </p>

            <p class="article-text">
                Money is really an important role player in our lives. But, we need to accept, money is not
                everything. Though money has the power, you can enjoy and afford every material luxury of life.
                But that is short lived. Money can’t bring real happiness, peace, certainty, power and freedom.
                We have written the following short and long essays on topic Money. These essays cover all
                related topics including; importance and power of money, is money everything, role of money in
                life etc.
            </p>

            <p class="article-text"> It is true that one can earn more money through less effort, but not for
                long; surely he will
                lose his money by following a wrong and weak path in the near future.
                A person who earns money by following the rules of humanity earns less money but for a long
                period of time and then becomes a well known personality in the society.
                People who commit corruption hide their money as black money in other countries to hide it from
                the general public. Their money is used for doing bad things or living in luxury.</p>
        </div>
    </div>

</section>

<div class="divider container">

</div>
<section class="articles container">

    <h2 class="heading-secondary">GMO food</h2>

    <div class="article">
        <figure class="article-image-box">
            <img class="article-img" src="img/2.jpg" alt="">
            <figcaption class="img-caption">Food</figcaption>
        </figure>
        <div class="article-text-box">

            <p class="article-text">Genetically modified foods refer to foods that have been produced through
                biotechnology processes involving alteration of DNA. This genetic modification is done to confer
                the organism or crops with enhanced nutritional value, increased resistance to herbicides and
                pesticides, and reduction of production costs.
            </p>

            <p class="article-text">
                The concept of genetic engineering has been in existence for many years, but genetic
                modification of foods emerged in the early 1990s. Currently, a lot of food consumed is composed
                of genetically altered elements, albeit without the knowledge of the consumers (Whitman, 2000).
            </p>

            <p class="article-text">It has been proposed that genetically modified foods are integral in
                enhancement of safe food security, enhanced quality and increased shelf-life; hence becoming
                cost-effective to consumers and farmers. Proponents of this technology also argue that
                genetically modified foods have many health benefits, in addition to being environmentally
                friendly and the great capability of enhancing the quality and quantity of yields (W.H.O.,
                2013).</p>
        </div>
    </div>

</section>

<div class="divider container">

</div>
<section class="articles container">

    <h2 class="heading-secondary">The View of World in 2100</h2>

    <div class="article">
        <figure class="article-image-box">
            <img class="article-img" src="img/3.jpg" alt="">
            <figcaption class="img-caption">Earth</figcaption>
        </figure>
        <div class="article-text-box">

            <p class="article-text">Our future world on Earth is very very encouraging. More than 200 countries
                in six continents are working continuously for growth, prosperity and development. The basis and
                strength behind this positive expectation are the knowledge, skill set and technology. Further
                the constant effort of people to better their living standards, cooperate with each other, share
                the progress help all.
            </p>

            <p class="article-text">
                In future all of us will have gadgets that make our work easier and of higher level. We have
                capable scientific minds researching and inventing newer methods and devices. They will improve
                our health, performance and fulfill our desires better.

            </p>

            <p class="article-text">Social living and political conditions are improving drastically. This is
                due to availability of social media and world connectivity. Wars are histories of previous
                centuries. Economic, academic and sportive competition is the alternatives of the future. Poor
                people of the world are getting help from international bodies like UNO and other voluntary
                organizations..</p>
                
        </div>
    </div>

</section>