<section class="section-portfolio container">

            <h2 class="heading-secondary ph2">Portfolio</h2>
             <div class="portfolio-items">
                <figure class="article-image-box">
                    <img class="fig-img" src="img/1.jpg" alt="">
                    <figcaption>Project#</figcaption>
                </figure>

                <figure class="article-image-box  no-display-2">
                    <img class="fig-img" src="img/2.jpg" alt="">
                    <figcaption>Project#</figcaption>
                </figure>

                <figure class="fig-image-box no-display-1">
                    <img class="fig-img" src="img/3.jpg" alt="">
                    <figcaption>Project#</figcaption>
                </figure>

             </div>

             <div class="portfolio-items">

                <figure class="article-image-box">
                    <img class="fig-img" src="img/4.jpg" alt="">
                    <figcaption>Project#</figcaption>
                </figure>

                <figure class="article-image-box no-display-2">
                    <img class="fig-img" src="img/5.jpg" alt="">
                    <figcaption>Project#</figcaption>
                </figure>

                <figure class="article-image-box no-display-1">
                    <img class="fig-img" src="img/6.jpg" alt="">
                    <figcaption>Project#</figcaption>
                </figure>


             </div>

             <div class="portfolio-items no-display">

                <figure class="article-image-box">
                    <img class="fig-img" src="img/3.jpg" alt="">
                    <figcaption>Project#</figcaption>
                </figure>

                <figure class="article-image-box no-display-2">
                    <img class="fig-img" src="img/6.jpg" alt="">
                    <figcaption>Project#</figcaption>
                </figure>

             </div>

             <div class="portfolio-items no-display-3">

                <figure class="article-image-box">
                    <img class="fig-img" src="img/2.jpg" alt="">
                    <figcaption>Project#</figcaption>
                </figure>

            </div>

             <div class="portfolio-items no-display-3">

                <figure class="article-image-box">
                    <img class="fig-img" src="img/4.jpg" alt="">
                    <figcaption>Project#</figcaption>
                </figure>
                
            </div>

             <div class="portfolio-items no-display-3">

                <figure class="article-image-box">
                    <img class="fig-img" src="img/6.jpg" alt="">
                    <figcaption>Project#</figcaption>
                </figure>
                
            </div>
        </section>